@tailwind base;
@tailwind components;
@tailwind utilities;

.shared-page {
    padding: 20px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
  }
  
  .image-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .grid-image {
    width: 100%;
    height: 150px; /* Fixed height for uniformity */
    object-fit: cover; /* Ensure aspect ratio is maintained */
    cursor: pointer;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    max-width: 90%;
    max-height: 90%;
  }
  
  .modal-image-large {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
  }
  
  .loading-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    z-index: 1000;
}

.image-card .username-overlay {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 0.875rem; /* Tailwind's text-sm */
    padding: 0.25rem 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .image-card:hover .username-overlay {
    opacity: 1;
  }

  .absolute {
    position: absolute;
  }
  
  .top-0 {
    top: 0;
  }
  
  .left-0 {
    left: 0;
  }
  
  .right-0 {
    right: 0;
  }
  
  .bottom-0 {
    bottom: 0;
  }
  
  .bg-opacity-25 {
    background-opacity: 0.25;
  }
  
  .hover\\:bg-opacity-50:hover {
    background-opacity: 0.50;
  }
  
  .transition {
    transition: background-opacity 0.3s ease-in-out;
  }
  